
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.btn {
  background-color: #029FAE;
  padding: 12px 24px;
  color: #fff;
  border-radius: 8px;
  text-transform: capitalize;
  border: none;
  font-size: 16px;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navbar {
  background: #fff;
  border-bottom: 1px solid #E1E3E5;
  padding: 14px 0;
  
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__content ul {
  display: flex;
  gap: 32px;
}

.navbar__link {
  color: #636270;
  font-size: 14px;
  font-weight: 500;
}

.navbar__link-active {
  color: #007580;
}

.navbar__contact span {
  color: #636270;
  font-size: 14px;
}

.navbar__contact a {
  color: #272343;
  font-size: 14px;
  font-weight: 500;
}

.header {
  background-color: #F0F2F3;
  max-width: 1740px;
  margin: 0 auto;
  border-radius: 0 0 48px 48px;
  margin-top: 20px;
}

.header__content {
  display: flex;
  min-height: 810px;
}

.header__left {
  align-self: center;
  max-width: 631px;
}

.header__left p {
  color: #272343;
  font-size: 14px;
  letter-spacing: 1.70px;
  text-transform: uppercase;
}

.header__left h1 {
  color: #272343;
  font-size: 68px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 75px;
  margin: 8px 0 24px 0;
}

.header__right {
  align-self: center;
  flex-grow: 1;
}

.gallery {
  max-width: 475px;
  margin: 0 auto;
  position: relative;
}

.gallery__sale {
  background-color: #fff;
  width: 140px;
  height: 124px;
  border-radius: 50px 70px 50px 70px;
  display: flex;
  position: absolute;
  right: -40px;
  top: 0;
}

.gallery__sale > div {
  margin: auto;
  text-align: center;
}

.gallery__sale > div h6 {
  color: #F05C52;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
}

.gallery__sale > div span {
  color: #272343;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.30px;
}