* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
width: 100px;
height: 100px;
background-color: orange;
position: relative;
}

.item {
width: 50px;
height: 50px;
background-color: red;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.block {
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
}
.child {
    width: 50px;
    height: 50px;
    background-color: gold;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
   
}

